<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRMS.Web</title>
    <script src="/js/htmx.min.js"></script>
    <script src="~/js/_hyperscript.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <h1>HRMS</h1>
        </div>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <div class="container">
            <a href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Index", "Departments")">Departments</a>
            <a href="@Url.Action("Index", "Designations")">Designations</a>
            <a href="@Url.Action("Index", "Employees")">Employees</a>
            <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            &copy; 2025 - HRMS - <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </footer>
</body>
</html>
