@model List<HRMS.Application.DTOs.Employee.EmployeeServiceModel>
@{
    ViewData["Title"] = "Employee List";
}

<h2>Employee List</h2>

<!-- Button to Create Employee -->
<a href="@Url.Action("Create", "Employees")" class="btn btn-primary mb-3">Add Employee</a>
<button hx-post="@Url.Action("TestToastMessage")" hx-swap="afterend" class="btn btn-primary mb-3">Test Toast Message</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmpCode</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>
                    @employee.DepartmentName
                </td>
                <td>
                    @employee.DesignationName
                </td>
                <td>@employee.Gender</td>
                <td>@employee.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("Edit", "Employees", new { id = employee.Id })" class="btn btn-sm btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Employees", new { id = employee.Id })" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
